<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Grundfos – Safety Quiz</title>
		<meta name="description" content="Grundfos has a global presence and is a full range supplier within pumps for heating, air conditioning, irrigation, industry, groundwater, boosting and water treatment.">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<!-- Place favicon.ico in the root directory -->

		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>
		<!-- Warnings -->
		<!--[if lt IE 8]>
			<div class="warning-wrapper">
				<div class="container warning">
					<div class="row">
						<section class="col-xs-12">
							<p>
								<img src="img/round-alert.png" width="16" height="16" class="icon">
								You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="alert-link">upgrade your browser</a> to improve your experience.
							</p>
						</section>
					</div>
				</div>
			</div>
		<![endif]-->
		<noscript>
			<div class="warning-wrapper">
				<div class="container warning">
					<div class="row">
						<section class="col-xs-12">
							<div>
								<img src="img/round-alert.png" width="16" height="16" class="icon">
								You must enable JavaScript in order to complete this quiz.
							</div>
						</section>
					</div>
				</div>
			</div>
		</noscript>

		<!-- Header -->
		<div class="header-wrapper hidden-print">
			<header class="container header">
				<div class="row navigation">
					<section class="col-xs-12">
						<ul class="list-inline">
							<li><a href="#">Start new quiz</a></li>
							<li><a href="#">Contact us</a></li>
						</ul>
					</section>
				</div>
				<div class="row">
					<section class="col-xs-12">
						<img src="img/grundfos.png" class="img-responsive logo">
					</section>
				</div>
			</header>
		</div>

		<main id="quiz">
			<!-- Subheader -->
			<div class="subheader-wrapper">
				<div class="container">
					<div class="row subheader">
						<section class="col-xs-12">
							<ul class="list-inline">
								<li><span id="language">English</span></li>
								<li><span id="location">Location</span></li>
							</ul>
						</section>
					</div>
				</div>
			</div>

			<!-- Main -->
			<div class="container main">
				<div class="row text-center">
					<section class="col-xs-12">
						<h1>{{ quiz.title }} <small v-show="questionIndex < quiz.questions.length">{{ questionIndex + 1 }} / {{ quiz.questions.length }}</small></h1>
						<hr>
					</section>
				</div>
				<div class="row" v-for="(question, index) in quiz.questions">
					<section class="col-lg-offset-3 col-lg-6" v-show="index === questionIndex">
						<div class="panel panel-default">
							<header class="panel-heading">
								<h3>{{ question.title }}</h3>
							</header>
							<!-- <img src="http://placehold.it/500x250" class="panel-image"> -->
							<section class="panel-body">
								<p class="lead">{{ question.text }}</p>
								<ol>
									<li v-for="response in question.responses">
										<label>
											<!-- The radio button has three new directives -->
											<!-- v-bind:value sets "value" to "true" if the response is correct -->
											<!-- v-bind:name sets "name" to question index to group answers by question -->
											<!-- v-model creates binding with userResponses -->
											<input type="radio"
											v-bind:value="response.correct"
											v-bind:name="index"
											v-model="userResponses[index]"> {{response.text}}
										</label>
									</li>
								</ol>
								<hr>
						        <!-- The two navigation buttons -->
						        <!-- Note: prev is hidden on first question -->
						        <button v-if="questionIndex > 0" v-on:click="prev" class="btn btn-default">
						        	Prev
						        </button>
						        <button v-on:click="next" class="btn btn-default pull-right">
						        	Next
						        </button>
							</section>
						</div>
					</section>
				</div>
				<div class="row results" v-show="questionIndex === quiz.questions.length">
					<section class="col-lg-offset-3 col-lg-6 text-center">
						<div v-if="score() === quiz.questions.length">
							<img src="img/emoticons-laugh.png" class="img-responsive center-block">
							<h2>Congratulations!</h2>
							<h4>You passed the quiz</h4>
							<p class="lead">Score: {{ score() }} / {{ quiz.questions.length }}</p>
						</div>

						<div v-if="score() < quiz.questions.length">
							<img src="img/emoticons-cry.png" class="img-responsive center-block">
							<h2>Oops, try again!</h2>
							<h4>You failed the quiz</h4>
							<p class="lead">Score: {{ score() }} / {{ quiz.questions.length }}</p>
						</div>
					</section>
				</div>
			</div>
		</main>

		<!-- Footer -->
		<footer class="container footer">
			<div class="row">
				<section class="col-xs-12">
					<img src="img/bethinkinnovate.png" class="pull-right hidden-print bethinkinnovate">
					<hr>
					<address>
						<p>
							<strong>GRUNDFOS</strong>
						</p>
						<span>
							Poul Due Jensens Vej 7<br />
							DK-8850 Bjerringbro, Denmark<br />
							Tel.: +45 87501400 | Fax +45 87501402<br />
						</span>
					</address>
				</section>
			</div>
			<div class="row hidden-print">
				<section class="col-xs-12">
					<ul class="list-inline">
						<li><a href="#">Legal Issues</a></li>
						<li><a href="#">Contact Grundfos</a></li>
						<li>YouTube</li>
						<li>Twitter</li>
						<li>LinkedIn</li>
						<li>Facebook</li>
					</ul>
				</section>
			</div>
		</footer>

		<!-- Scripts -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/modernizr.min.js"></script>
		<!-- <script src="js/vue.min.js"></script> -->
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>
